.loader {
  margin: 0px auto;
  position: relative;
  align-content: center;
  text-align: center;

  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #021420; /* Blue */
  border-right: 3px solid #021420; /* Blue */
  border-bottom: 3px solid #021420; /* Blue */

  border-radius: 50%;
  width: 75px;
  height: 75px;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
